body {
	background-color: white;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
		Geneva, Verdana, sans-serif;
}

.tealButtons {
	background-color: teal !important;
	color: white !important;
}

.tealButtons:hover {
	background-color: teal !important;
	opacity: 0.6 !important;
}

.sellButtons {
	background-color: rgb(251, 191, 146) !important;
	color: rgb(59, 36, 36) !important;
}

.sellButtons:hover {
	background-color: rgb(251, 191, 146) !important;
	opacity: 0.6 !important;
}

.tealButtonPill {
	color: teal !important;
}

.cardChip {
	margin-right: 10px;
}

.adCardPill {
	border: solid 1.5px rgba(20, 20, 20, 0.1) !important;
	color: rgb(50, 50, 50) !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

#adc-buy {
	border: solid 2px #c78333;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #c78333;
	font-weight: 700;
}

#adc-sell {
	border: solid 2px #6aa85e;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #6aa85e;
	font-weight: 700;
}

#adc-sold {
	border: solid 2px #c72525;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #c72525;
	font-weight: 700;
}

.adCardShadow {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
