body {
	margin: 0;
}

body::before {
	z-index: -2;
	display: block;
	position: fixed;
	top: 0;
	content: ' ';
	width: 100vw;
	height: 100vh;
	background: url(./img/bakgrunn.jpg) no-repeat center center;
	filter: blur(0px) opacity(0.8) grayscale(1);
}

body::after {
	z-index: -1;
	display: block;
	position: fixed;
	top: 0;
	content: ' ';
	width: 100vw;
	height: 100vh;
	background: rgba(255, 190, 70, 0.2);
}
